@model مشروع_ادار_المختبرات.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow rounded p-4" style="width: 100%; max-width: 400px;">
        <h3 class="text-center mb-4">تسجيل الدخول</h3>
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label style="color:red">
                @TempData["Error"]
            </label>
            <div class="mb-3">
                <label asp-for="Email" class="form-label">البريد الإلكتروني</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">كلمة المرور</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">تسجيل الدخول</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
