@model مشروع_ادار_المختبرات.DTOS.DTOSettingSystem

<div class="text-center p-3">
    <h4>الشعار الحالي</h4>
    <hr />
    <div>
        <img src="@Model.Image" alt="الشعار" style="max-width:250px; height:auto;" />
    </div>
</div>
